---
import { Form } from 'components';
import Contact from 'components/Banner/Contact/Contact.astro';
import Showcase from 'components/Banner/Showcase/Showcase.astro';
import { Toaster } from 'components/Toast';
import MainBaner from '../components/Banner/Main/Main.astro';
import Layout from '../layouts/layout.astro';
---

<Layout>
 
  <section id="home">
    <MainBaner />

  </section>


  <section id="proyectos">
    <Showcase />
  </section>
  <Contact/>

  <section id="home" class="bg-yellow-400 py-10">
    <div class="flex flex-col lg:flex-row container-wrapper gap-6 justify-between">
      <div class="flex flex-col gap-2 max-w-[512px]">
        <h2 class="text-club-blue-900 text-5xl">CONTACTANOS</h2>
        <p class="text-gray-600">
  Activo 20-30 Internacional, por más de 100 años sigue formando líderes para el servicio desinteresado de las comunidades y en especial a la niñez de; Estados Unidos, México, El Salvador, Nicaragua, Costa Rica, Panamá, Colombia y República Dominicana.
        </p>
      </div>
      <Form client:load />
    </div>
  </section>
  <Toaster client:load />
</Layout>

<style is:global>
  .container-wrapper {
    @apply px-6 lg:mx-auto lg:max-w-[1080px] lg:px-16 xl:px-0;
  }
</style>
