---
import Showcase from 'components/Banner/Showcase/Showcase.astro';
import MainBaner from '../components/Banner/Main/Main.astro';

import { appwrite } from '../services';

const page = Number(Astro.url.searchParams.get('page')) || 1;

const projectsResponse = await appwrite.getAllProjects({ page });
---

<html lang="en">
  <head class="">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainBaner />
    <Showcase />

    <!-- <Form client:load /> -->

    {
      projectsResponse.documents.map((project) => (
        <div>
          <h1>{project.title}</h1>
          {/* <p>{project.description}</p> */}
        </div>
      ))
    }

    <style is:global>
      .container-wrapper {
        @apply px-6 lg:mx-auto lg:max-w-[1080px] lg:px-16 xl:px-0;
      }
    </style>
  </body>
</html>
