<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Club 2030</title>

  </head>
  <body>
    <article>
      <nav class="bg-white p-4 pb-3 flex items-center justify-between fixed top-0 left-0 w-full z-50 shadow-md">
        <div class="flex-shrink-0">
          <img src="public/svg/logo.svg" class="w-[40px] h-[40px]" />
        </div>
      
        <ul class="flex space-x-4 text-black">
          <li>
            <a href="#home" class="hover:underline">Home</a> 
          </li>
          <li>
            <a href="#proyectos" class="hover:underline">Proyectos</a>
          </li>
          <li>
            <a href="#proyectos" class="hover:underline">Contactanos</a>
          </li>
        </ul>
      </nav>
      <div class="pt-16"> 
        <slot />
      </div>
    </article>
  </body>
</html>
