---
import Card from '../../../components/Card';
import { PaginationComponent } from '../../../components/Pagination';
import Layout from '../../../layouts/layout.astro';
import appwrite from '../../../services';

const { page } = Astro.params;
const projectsPerPage = 9;

if (page === undefined || Number.isNaN(Number(page))) {
  return Astro.redirect('/404');
}

const currentPage = Number(page);

const projectsResponse = await appwrite.getAllProjects({ page: currentPage, perPage: projectsPerPage });
const numberOfPages = Math.ceil(projectsResponse.total / projectsPerPage);
---

<Layout>
  <div class="bg-blue-900 flex flex-col py-4">
    <div class="flex flex-col gap-6 container-wrapper">
      <h2 class="text-yellow-500 text-6xl">Proyectos</h2>
      <PaginationComponent currentPage={currentPage} totalPages={numberOfPages} client:load />
      <div class="grid grid-cols-1 auto-rows-min md:grid-cols-1 lg:grid-cols-2 gap-6">
        {projectsResponse.documents.map((project) => <Card {...project} />)}
      </div>
    </div>
  </div>
</Layout>
