---
import { PaginationComponent } from 'components/Pagination';
import appwrite from 'services';
import Layout from '../../layouts/layout.astro';

const urlPage = Number(Astro.url.searchParams.get('page')) || 1;
const page = Number.isNaN(urlPage) ? 1 : urlPage;
const projectsPerPage = 1;

const projectsResponse = await appwrite.getAllProjects({ page, perPage: projectsPerPage });
const numberOfPages = Math.ceil(projectsResponse.total / projectsPerPage);
---

<Layout>
  <div>
    {
      projectsResponse.documents.map((project) => (
        <div>
          <h2>{project.title}</h2>
          {/* <p>{project.description}</p> */}
        </div>
      ))
    }
    <PaginationComponent currentPage={page} totalPages={numberOfPages} client:load />
  </div></Layout
>
